[submodule "Number/vendor/spdlog"]
	path = Number/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Number/vendor/GLFW"]
	path = Number/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
