[submodule "Number/vendor/spdlog"]
	path = Number/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Number/vendor/GLFW"]
	path = Number/vendor/GLFW
	url = https://github.com/K0T0WARU/glfw
[submodule "Number/vendor/imgui"]
	path = Number/vendor/imgui
	url = https://github.com/K0T0WARU/imgui
[submodule "Number/vendor/glfw"]
	path = Number/vendor/glfw
	url = https://github.com/K0T0WARU/glfw
[submodule "Number/vendor/glm"]
	path = Number/vendor/glm
	url = https://github.com/g-truc/glm
